.container {
  background-color: lightgrey;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  padding: 12px;
  margin: 12px;
  float: left;
}

header {
	background-image: url(C:/Users/User/Desktop/Programming/HTML/Politics365/images/SplitShire-8881.jpg);
	display: inline-block;
  padding: 12px;
	margin: 12px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

aside {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  margin: 12px;
	text-align: center;
  width: 1550px;
	background-color: lightblue;
  float: right;
}

hr {
  height: 2px;
  width: 20%;
  margin: -15px;
  float: left;
}
