img {
  margin: 0px;
  width: 180px;
  height: 75px;
}

.bg-color {
  background-image: url("http://i1339.photobucket.com/albums/o714/mcmxl22/IMG_0910_zpslbunius2.jpg");
  background-size: cover;
  border-style: solid;
  border-color: black;
  border-width: 8px;
}

.name {
  font-size: 28px;
  width: 100%;
  text-align: center;
}
#well {
  display: flex;
  width: 100%;
}

.stuff {
  height: 850px;
}

.footer {
  background-color: darkgrey;
  height: 82px;
  width: 100%;
}

ul {
  list-style-type: none;
}

#information {
  padding-top: 13px;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  padding-top: 60%;
  padding-bottom: 60%;
}
