img {
  margin: 100px;
  width: 200px;
  height: 90px;
}

.bg-color {
  background-size: cover;
}

.name {
  font-size: 28px;
  width: 100%;
  text-align: center;
}

#well {
  display: flex;
  width: 100%;
}

.footer {
  background-color: darkgrey;
  height: 82px;
  width: 100%;
}

ul {
  list-style-type: none;
}

#wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100px 100px;
  padding-top: 40%;
  padding-bottom: 40%;
}
