body {
  background-color: black;
}

.container {
  background-color: lightgrey;
  border-style: solid;
  border-color: white;
  height: 100%;
  padding: 12px;
  margin: 12px;
  float: left;
}

header {
  border-style: solid;
  border-color: white;
	background: #ccc url(C:/Users/User/Desktop/Programming/HTML/Politics365/images/SplitShire-8881.jpg);
	display: inline-block;
  padding: 12px;
	margin: 12px;
}

aside {
  border-style: solid;
  border-color: white;
  margin: 12px;
	text-align: center;
  width: 89%;
	background-color: lightblue;
  float: right;
}

.articles {
  font-family: Arial, sans-serif;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  margin: 12px;
  width: 89%;
  height: 100%;
	background-color: white;
  float: right;
}


hr {
  height: 2px;
  width: 20%;
  margin: -11px;
  float: left;
}

ul {
  list-style: none;
  }
