.sideBar {
  background-color: lightgrey;
  border-style: solid;
  border-color: white;
  width: 6%;
  height: 612px;
  margin: 10px;
  float: left;
}

.links {
  margin-left: 28px;
}

.header {
  border-style: solid;
  border-color: white;
  background-image: url("https://image.ibb.co/insmCw/Split_Shire_8881.jpg");
  height: 120px;
  margin: 10px;
}

.siteName {
  margin-left: 10px;
}

.navLinks {
  margin-top: 30px;
  margin-left: 10px;
}

.title {
  border-style: solid;
  border-color: white;
  margin: 10px;
  text-align: center;
  width: 90%;
  background-color: lightblue;
  float: right;
}

.articles {
  font-family: Arial, sans-serif;
  border-style: solid;
  border-color: white;
  border-width: 4px;
  margin: 12px;
  width: 90%;
  height: 100%;
  background-color: white;
  float: right;
}

.headline {
  margin: 13px;
}

hr {
  height: 2px;
  width: 25%;
  float: left;
  margin: -2px;
}

ul {
  list-style: none;
  margin-left: -13px;
}
